
/* RESET  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONT  */
body{
    font-family: 'Fredoka', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

/* GENERAL */

.container{
    max-width: 1000px;
    margin: auto;
    
}

.text-align{
    text-align: center;
}

.margin-bottom{
    margin-bottom: 30px;
}



.float-left{
    float: left;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.img{
    width: 30%;
    height: 100%;
}




/* MIAN  */

.title{
    padding: 25px;
    color: rgb(253, 120, 142);
    margin-bottom: 20px;
}

.staff-container{
    width: 300px;
    height: 90px;
    border: 1px solid black;
    
    background-color: black;
    color: white;
    display: inline-block;
    
}

.a-color{
    text-decoration: none;
    color: skyblue;
    
}

.text-padding{
    padding: 10px;
}

.staff-container1{
    margin-right: 43px;
}